plugins/annotation
plugins/background_modes
plugins/color
plugins/interactive_modes
plugins/itview_color_corrector
plugins/timeline
plugins/itview_session_manager
plugins/itview_session_assistant
plugins/itview_session_io
plugins/rpa_interpreter
plugins/hotkey_editor
plugins/anim_edit
plugins/clips_loop_mode_toggler
plugins/help_menu
plugins/session_auto_saver
plugins/transforms
plugins/image_controller
plugins/view_controller
plugins/mask
# plugins/viewport_user_input_manager
# plugins/session_tree_viewer