# Itview
plugins/hotkey_editor
plugins/session_auto_saver

# File
plugins/itview_session_io

# Session
plugins/itview_session_manager
plugins/itview_session_assistant

# Timeline
plugins/anim_edit
plugins/editorial_station

# Compare
plugins/background_modes

# Playback
plugins/clips_loop_mode_toggler
plugins/timeline

# View
plugins/interactive_modes
plugins/transforms
plugins/viewport_appearance
plugins/viewport_user_input_manager
plugins/view_controller
plugins/mask

# Color
plugins/image_controller
plugins/color

# Review
plugins/itview_color_corrector
plugins/annotation

# Help
plugins/itview_info_hub
plugins/rpa_interpreter
plugins/session_tree_viewer
plugins/help_menu
plugins/itview_console_logger